<mjml>
  <mj-head>
    <mj-title></mj-title>
    <mj-attributes>

    </mj-attributes>
  </mj-head>
  <mj-body background-color="#fff">
    <mj-section>
      <mj-column>
        <mj-text>
          <p>Test</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
